@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

body {
  background: #ea7773;
}

.App {
  font-family: "Acme", sans-serif;
  text-align: center;
  transform: translateY(50%);
}

h1 {
  letter-spacing: 1px;
  margin: 10px;
  color: #2b2b52;
}

.text-conf {
  letter-spacing: 2px;
}
